.app{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}
.btn-violet1{
  background-color:#8a2be2;
  width:100%;
}
.btn-violet{
  background-color:red;

}

@media screen and (max-width: 600px) {
  .btn-violet{
    background-color:blue;
  }
  .app{
    display:grid;
    grid-template-rows: 1fr;
  }
}
  
